html {
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    flex-direction: column;
    padding: 1rem;
}
/*NAVIGATION*/
nav {
    display: flex;
    align-items: center;
}
.name {
    display: inline-block;
}
.nav-list {
    list-style-type: none;
    margin-left: auto;
}
.nav-list li {
    display: inline;
    padding-left: 1.2rem;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
/*ABOUT ME*/
#aboutMe {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}
.emphasized {
    font-style: italic;
    font-weight: bold;
}
img {
    display: inline-block;
    height: 400px;
    width: auto;
    border-radius: 20px;
    margin-left: 3em;
    margin-top: 5em;
}
/*PROJECTS*/
.projects-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2em;
}
.another-project {
    display: block;
    width: 350px;
    background-color: lightgray;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 4px darkgray;
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 2em;
}
i {
    font-size: 3em;
}
/* CONTACT */
.contact-container i {

    margin-right: 0.5em;
}
/* FOOTER */
footer {
    display: flex;
    margin: 3em auto 1em auto;
}
